{% extends "web/base.html" %}

{% block content %}
    <article lang="es">
        <h2>{{ meeting.title }}</h2>
        {{ meeting.summary|safe }}

        <hr>

        {% if meeting.when or meeting.where or meeting.venue_link %}
            <h3>La reunión</h3>
            <ul>
            {% if meeting.when %}<li>Cuándo: {{ meeting.when }}</li>{% endif %}
            {% if meeting.where %}<li>Dónde: {{ meeting.where }}</li>{% endif %}
            {% if meeting.venue_link %}<li><a href="{{ meeting.venue_link }}" target="_new">Enlace mapa</a></li>{% endif %}
            </ul>
            <hr>
        {% endif %}


        {% if meeting.talks.all %}
            <h3>Las charlas</h3>
            {% for talk in meeting.talks.all %}
                <h4>{{ talk.title }}</h4>
                <div class="talk-desc">
                    <p>Autor/es:
                        {% for author in talk.authors.all %}
                            {{ author.name }}
                            {% if author.twitter %}
                                (<a href="http://twitter.com/{{ author.twitter }}" target="_new">{{ author.twitter }}</a>)
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p>{{ talk.summary }}</p>
                    {% if talk.slide_external or talk.slide_internal %}
                    <p>
                    {% if talk.slide_external %}- Ver <a href="{{ talk.slide_external }}" target="_new">presentación</a>{% endif %}
                    {% if talk.slides_internal %}- Descargar <a href="{{ MEDIA_URL }}{{ talk.slide_internal }}" target="_new">presentación</a>{% endif %}
                    </p>
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
        {% endif %}
    </article>
    {% include "meetings/disqus.html" %}

{% endblock %}
