{% extends "web/base.html" %}
{% load static %}

{% block content %}
    <p class="intro">The Python-Madrid is a monthly meeting in downtown Madrid to share knowledge and experiences about Python while having some beers.</p>
    <p class="intro">Somos un grupo de gente interesada en Python o cualquier tecnología que lo envuelve. Solemos hacer quedadas mensuales para compartir experiencia además de tomar unas birras ;)</p>
    <p class="intro">Si quieres saber más de nosotros y participar, puedes unirte a <a href="https://lists.es.python.org/listinfo/madrid">nuestra lista de correo</a> y/o a nuestro grupo de <a href="http://www.meetup.com/Madrid-Python-Meetup/">MeetUp</a>. También puedes seguirnos en <a href="http://twitter.com/#!/python_madrid">nuestro twitter</a>.</p>
    <p class="intro" style="position:relative; bottom: 20px">
        <img style="width:80px; position:relative; top:35px;" src="{% static 'imgs/logo-python-es.png' %}" /> ¿Conoces la Asociación Python España? Visita su <a href="http://es.python.org" target="_new">web</a>.</p>

{% endblock %}
